# Binaries
/bin/
/out/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Local env files
.env
.env.*
!.env.example

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# User requested exclusions
docs/
collector
